# Insper Jr Challenge 2022 - Análise de dados (01/06)
## Equipe:
- Rafael Pascarelli Niccheri
- Vinícius Matheus Morales
___
### Objetivo:
Desenvolver uma análise completa dos dados da empresa e preparar um Dashboard em PowerBI para a visualização dos dados e dos resultados obtidos. Toda a etapa de Coleta, Tratamento, Análise e Visualização dos Dados devem estar claras. A entrega será feita via GitHub ou GoogleDrive, com a postagem do Dashboard pelo PowerBI
___
#### Obs.:
- A estratégia pode mudar de um commit para outro, caso a equipe julgue necessário
- A organização desse arquivo pode mudar de um commit para outro, caso a equipe julgue necessário
- Metodologias ágeis de desenvolvimento estão sendo utilizadas para uma melhor eficiência
___

# Primeira parte
### Importar as bibliotecas padrões e necessárias
___

In [1]:
# Imports principais
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time, datetime, os, sys

In [2]:
print(f'Estamos trabalhando na pasta\n{os.getcwd()}')

Estamos trabalhando na pasta
C:\Users\viniz\OneDrive\Área de Trabalho\Insper Jr Challenge\insper-jr-challenge

# Segunda parte
### Ler e armazenar cada db em uma variável
___

In [3]:
# Lendo cada base de dados
clientes_db = pd.read_excel('Base de Dados/clientes.xlsx')
clientes_db

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
0,94906d652f7d1c9e4c4af604ede7784b,544d0f13064dc42b8f6957cf43fa5cad,69918,rio branco,AC
1,ca077dd95290191565abb393a580bbfc,70f326d437e44cf69da00c9169b74fb3,69911,rio branco,AC
2,5a5f70fead43dc16ec4d5afed5281239,b1cf91f7efd99001549d2eafa05c66c1,69918,rio branco,AC
3,c5de7db594b246f428940ced283125bd,8c792a4fb7f5d708257abf55fa899ce8,69918,rio branco,AC
4,16aba5570b45f6b4c9204407132e2cae,5f8f12098427d3cbb37e9dcf269bb53c,69918,rio branco,AC
...,...,...,...,...,...
99436,23e9c4157d6c105f4f1b5581129d54b0,1f4b29fb78faa282b122b491ce721aaa,77725,colmeia,TO
99437,0cf035c6dba87ba8ca506f64719663dd,721406d1edfabad2de3f86155356d8e0,77305,conceicao do tocantins,TO
99438,7dcd626576af9555424051dbdb01cb5a,7c0b4f7719caf8b29a4c8dbd5a1446c9,77370,natividade,TO
99439,be961156244f41bb0728342afdc122e2,fa0d24dd602c76038e9c0614d1620cec,77490,cristalandia,TO
99440,f83083fcbc51d12f8279b5713c2d4b4d,0465f164e35aba70f70e911b252513a9,77807,araguaina,TO

In [4]:
geoloc_db = pd.read_excel('Base de Dados/geolocalizacao.xlsx')
geoloc_db

,geolocalizacao_CEP,geolocalizacao_latitude,geolocalizacao_longitude,geolocalizacao_cidade,geolocalizacao_estado
0,4011,-2.357871e+15,-46645778615462800,sao paulo,AC
1,21550,-2.285786e+15,-4335261269040330,rio de janeiro,AC
2,23056,-2.291916e+16,-4361109694482950,rio de janeiro,AC
3,69940,-9.065928e+15,-686649727914067,sena madureira,AC
4,69918,-9.926145e+15,-6783511725,rio branco,AC
...,...,...,...,...,...
1000158,77930,-5.612270e+15,-47760961803462400,axixa do tocantins,TO
1000159,77940,-5.602813e+15,-4764205371554430,sitio novo do tocantins,TO
1000160,77900,-6.330177e+15,-4741979250983400,tocantinopolis,TO
1000161,77993,-5.370596e+15,-48541005808804600,esperantina,TO
1000162,88058,-2.745067e+16,-4840169285789710,florian&oacute,NaN

In [5]:
itens_db = pd.read_excel('Base de Dados/itens.xlsx')
itens_db

,pedido_id,numero_de_itens,produto_id,vendedor_id,data_entrega_limite,preco,preco_frete
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:00,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:00,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:00,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:00,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:00,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:00,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:00,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:00,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:00,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:00,43.00,12.79

In [6]:
pagamento_db = pd.read_excel('Base de Dados/pagamento.xlsx')
pagamento_db

,pedido_id,numero_metodo_pagamentos,metodo_pagamento,numero_parcelas,valor_pagamento
0,00048cc3ae777c65dbb7d2a0634bc1ea,1,boleto,1,34.59
1,0008288aa423d2a3f00fcb17cd7d8719,1,boleto,1,126.54
2,0009792311464db532ff765bf7b182ae,1,boleto,1,127.55
3,000c3e6612759851cc3cbb4b83257986,1,boleto,1,112.71
4,0010dedd556712d7bb69a19cb7bbd37a,1,boleto,1,111.12
...,...,...,...,...,...
103881,ff978de32e717acd3b5abe1fb069d2b6,2,voucher,1,10.80
103882,ff978de32e717acd3b5abe1fb069d2b6,3,voucher,1,0.66
103883,ff978de32e717acd3b5abe1fb069d2b6,1,voucher,1,30.00
103884,ffa1dd97810de91a03abd7bd76d2fed1,2,voucher,1,418.73
103885,ffa39020fe7c8a3e907320e1bec4b985,2,voucher,1,64.01

In [7]:
pedidos_db = pd.read_excel('Base de Dados/pedidos.xlsx')
pedidos_db

,pedido_id,cliente_id,pedido_status,pedido_data_compra,pedido_data_aprovado,pedido_data_entregue_transportadora,pedido_data_entrega_cliente,pedido_data_estimada_entrega
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,entregue,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,entregue,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,entregue,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,entregue,2017-11-18 19:28:00,2017-11-18 19:45:00,2017-11-22 13:39:00,2017-12-02 00:28:00,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,entregue,2018-02-13 21:18:00,2018-02-13 22:20:00,2018-02-14 19:46:00,2018-02-16 18:17:00,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,entregue,2017-03-09 09:54:00,2017-03-09 09:54:00,2017-03-10 11:18:00,2017-03-17 15:08:00,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,entregue,2018-02-06 12:58:00,2018-02-06 13:10:00,2018-02-07 23:22:00,2018-02-28 17:37:00,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,entregue,2017-08-27 14:46:00,2017-08-27 15:04:00,2017-08-28 20:52:00,2017-09-21 11:24:00,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,entregue,2018-01-08 21:28:00,2018-01-08 21:36:00,2018-01-12 15:35:00,2018-01-25 23:32:00,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,entregue,2018-03-08 20:57:00,2018-03-09 11:20:00,2018-03-09 22:11:00,2018-03-16 13:08:00,2018-04-03

In [8]:
produtos_db = pd.read_excel('Base de Dados/produtos.xlsx')
produtos_db

,produto_id,produto_categoria,produto_comprimento_nome,produto_comprimento_descricao,produto_quantidade_fotos,produto_peso_g,produto_largura_cm,produto_altura_cm,produto_comprimento_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [9]:
reviews_db = pd.read_excel('Base de Dados/reviews.xlsx')
reviews_db

,review_id,pedido_id,review_score,review_titulo,review_comentario,review_criado_em,review_respondido_em
0,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:00
1,373cbeecea8286a2b66c97b1b157ec46,583174fbe37d3d5f0d6661be3aad1786,1,NÃ£o chegou meu produto,PÃ©ssimo,2018-08-15 00:00:00,2018-08-15 04:10:00
2,2c5e27fc178bde7ac173c9c62c31b070,0ce9a24111d850192a933fcaab6fbad3,1,NaN,NÃ£o gostei ! Comprei gato por lebre,2017-12-13 00:00:00,2017-12-16 07:14:00
3,58044bca115705a48fe0e00a21390c54,68e55ca79d04a79f20d4bfc0146f4b66,1,NaN,Sempre compro pela Internet e a entrega ocorre...,2018-04-08 00:00:00,2018-04-09 12:22:00
4,9fd59cd04b42f600df9f25e54082a8d1,3c314f50bc654f3c4e317b055681dff9,1,NaN,Nada de chegar o meu pedido.,2017-04-21 00:00:00,2017-04-23 05:37:00
...,...,...,...,...,...,...,...
104252,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rÃ¡pida. Supe...",2018-03-22 00:00:00,2018-03-23 09:10:00
104253,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:00
104254,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,NaN,NaT
104255,"Estou decepcionado! Fico no aguardo!""",2017-12-15 00:00:00,2017-12-16 01:29:00,NaN,NaN,NaN,NaT
104256,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:00

In [10]:
vendedores_db = pd.read_excel('Base de Dados/vendedores.xlsx')
vendedores_db

,vendedor_id,vendedor_CEP,vendedor_cidade,vendedor_estado
0,4be2e7f96b4fd749d52dff41f80e39dd,69900,rio branco,AC
1,327b89b872c14d1c0be7235ef4871685,69005,manaus,AM
2,1444c08e64d55fb3c25f0f09c07ffcf2,42738,lauro de freitas,BA
3,d2e753bb80b7d4faa77483ed00edc8ca,45810,porto seguro,BA
4,fc59392d66ef99377e50356ee4f3b4e1,40243,salvador,BA
...,...,...,...,...
3090,f00f5b35d0abcacbdd863672f4bb2c1a,1238,sao paulo,SP
3091,7bac63f6603d382cc8d0832eb6c100a8,5713,sao paulo,SP
3092,f1fdf2d13186575751aa25876536d85c,5314,sao paulo,SP
3093,74871d19219c7d518d0090283e03c137,4650,sao paulo,SP
3094,9e25199f6ef7e7c347120ff175652c3b,12051,taubate,SP

# Terceira parte
### Fazer uma análise superficial dos dados (ordenações, filtros, etc)
___

In [11]:
# Entendendo clientes_db

# Verificando se algum CEP se repete (True: repete; False: não repete)
print(len(clientes_db['cliente_CEP']) != len(set(clientes_db['cliente_CEP'])))
print(f'Lista cliente_CEP: {len(clientes_db.cliente_CEP)}\nSet cliente_CEP: {len(set(clientes_db.cliente_CEP))}')
print(f'CEPs repetidos: {len(clientes_db.cliente_CEP) - len(set(clientes_db.cliente_CEP))}\n')

# Verificando se algum cliente_id se repete (True: repete; False: não repete)
print(len(clientes_db['cliente_id']) != len(set(clientes_db['cliente_id'])))
print(f'Lista cliente_id: {len(clientes_db.cliente_id)}\nSet cliente_CEP: {len(set(clientes_db.cliente_id))}')
print(f'IDs repetidos: {len(clientes_db.cliente_id) - len(set(clientes_db.cliente_id))}\n')

# Verificando se algum cliente_id_unico repete (True: repete; False: não repete)
print(len(clientes_db['cliente_id_unico']) != len(set(clientes_db['cliente_id_unico'])))
print(f'Lista cliente_id_unico: {len(clientes_db.cliente_id_unico)}\nSet cliente_CEP: {len(set(clientes_db.cliente_id_unico))}')
print(f'IDs únicos repetidos: {len(clientes_db.cliente_id_unico) - len(set(clientes_db.cliente_id_unico))}\n')

True
Lista cliente_CEP: 99441
Set cliente_CEP: 14994
CEPs repetidos: 84447

False
Lista cliente_id: 99441
Set cliente_CEP: 99441
IDs repetidos: 0

True
Lista cliente_id_unico: 99441
Set cliente_CEP: 96096
IDs únicos repetidos: 3345

In [12]:
# Definindo o tipo de cliente_estado como o tipo 'category'
clientes_db['cliente_estado'] = clientes_db['cliente_estado'].astype('category')

# Vendo todos os estados presentes no db
print(clientes_db['cliente_estado'].cat.categories)

# Vendo quantos estados estão presentes (se 27, então, todos + DF)
print(len(clientes_db['cliente_estado'].cat.categories))

Index(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG', 'MS',
       'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR', 'RS', 'SC',
       'SE', 'SP', 'TO'],
      dtype='object')
27

In [13]:
# Vendo quantos clientes tem em cada estado
clientes_db['cliente_estado'].value_counts()

SP    41746
RJ    12852
MG    11635
RS     5466
PR     5045
SC     3637
BA     3380
DF     2140
ES     2033
GO     2020
PE     1652
CE     1336
PA      975
MT      907
MA      747
MS      715
PB      536
PI      495
RN      485
AL      413
SE      350
TO      280
RO      253
AM      148
AC       81
AP       68
RR       46
Name: cliente_estado, dtype: int64

In [14]:
# Vendo as quantidades relativas de estados em x%
clientes_db['cliente_estado'].value_counts(True).round(4)*100

SP    41.98
RJ    12.92
MG    11.70
RS     5.50
PR     5.07
SC     3.66
BA     3.40
DF     2.15
ES     2.04
GO     2.03
PE     1.66
CE     1.34
PA     0.98
MT     0.91
MA     0.75
MS     0.72
PB     0.54
PI     0.50
RN     0.49
AL     0.42
SE     0.35
TO     0.28
RO     0.25
AM     0.15
AC     0.08
AP     0.07
RR     0.05
Name: cliente_estado, dtype: float64

In [15]:
clientes_db['cliente_estado'].value_counts().index.values

[SP, RJ, MG, RS, PR, ..., RO, AM, AC, AP, RR]
Length: 27
Categories (27, object): [AC, AL, AM, AP, ..., SC, SE, SP, TO]

In [16]:
# Separando os dataframes por estado

# São Paulo
sp_mask = clientes_db['cliente_estado'] == 'SP'
sp_data = clientes_db.loc[sp_mask, :]
sp_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
57415,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
57416,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
57417,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
57418,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
57419,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99156,f255d679c7c86c24ef4861320d5b7675,d111b06b6f3a2add0d2241325f65b5ca,13500,rio claro,SP
99157,f5a0b560f9e9427792a88bec97710212,b3e53d18a997f27a3ffd16da497eaf58,7790,cajamar,SP
99158,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99159,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99160,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

In [17]:
# Rio de Janeiro
rj_mask = clientes_db['cliente_estado'] == 'RJ'
rj_data = clientes_db.loc[rj_mask, :]
rj_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
34326,5aa9e4fdd4dfd20959cad2d772509598,2a46fb94aef5cbeeb850418118cee090,20231,rio de janeiro,RJ
34327,a7c125a0a07b75146167b7f04a7f8e98,5c2991dbd08bbf3cf410713c4de5a0b5,22750,rio de janeiro,RJ
34328,b2bed119388167a954382cca36c4777f,e079b18794454de9d2be5c12b4392294,27525,resende,RJ
34329,b64ed91eab98972150bdaf77ca921934,3da7750bf3c1dbd724624a60a9f5942b,21310,rio de janeiro,RJ
34330,8247b5583327ab8be19f96e1fb82f77b,d85547cd859833520b311b4458a14c1c,23970,parati,RJ
...,...,...,...,...,...
47173,99750744559bca1f62c527b1a7781167,a662a415dbbb5a154b3d38aa4fc86e57,23042,rio de janeiro,RJ
47174,d2a592f7064d3ef0f34bd7a8d95e4458,54038fdafde7c49533a306f961281d9c,24350,niteroi,RJ
47175,94747b8a0c77eb8947fecdfa5b717435,81720bfb69887fe95390723af9748e9f,22780,rio de janeiro,RJ
47176,f9c989b75558c119a7ce8e9f3c2b8f45,ce13190d9ef1e855dc50ecea9a1ef809,22790,rio de janeiro,RJ
47177,30c96385d694acb8aa2dc0df1770120b,b96d6a178adbabf269fd843b37327798,26112,belford roxo,RJ

In [18]:
# Minas Gerais
mg_mask = clientes_db['cliente_estado'] == 'MG'
mg_data = clientes_db.loc[mg_mask, :]
mg_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
12366,5e274e7a0c3809e14aba7ad5aae0d407,57b2a98a409812fe9618067b6b8ebe4f,35182,timoteo,MG
12367,4b7139f34592b3a31687243a302fa75b,9afe194fb833f79e300e37e580171f22,30575,belo horizonte,MG
12368,9fb35e4ed6f0a14a4977cd9aea4042bb,2a7745e1ed516b289ed9b29c7d0539a5,39400,montes claros,MG
12369,c168abb9077b7821adae01dc1f0886c5,5ad58a4e6a1a656b6bed070cadbaa003,35960,santa barbara,MG
12370,19cecb194f54e614b70d971306a9931b,d251c190ca75786e9ab937982d60d1d4,30320,belo horizonte,MG
...,...,...,...,...,...
23996,e7b72a7e6f6364b5ff0830ef7ee799e4,f67f3c9e6a9c9ceff20b4a5700baeb53,35690,florestal,MG
23997,7ba8bdd359b397be54d6e280b75b0987,9b03f2721fb73962781bae9322b0c071,35650,pitangui,MG
23998,be631308cb609ff74d0e0fb54815e18c,1c137fe37df712015f6488edafe8ece4,36255,aracitaba,MG
23999,1ed0c832c2dd99570a59260e71768bdf,82d46759af0369aad49084bacf85a6c3,37610,bom repouso,MG
24000,7fe2e80252a9ea476f950ae8f85b0f8f,4b5820135d360a45552b5163835b1d89,35500,divinopolis,MG

In [19]:
# Rio Grande do Sul
rs_mask = clientes_db['cliente_estado'] == 'RS'
rs_data = clientes_db.loc[rs_mask, :]
rs_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
47962,1f1c7bf1c9b041b292af6c1c4470b753,3151a81801c8386361b62277d7fa5ecf,95110,caxias do sul,RS
47963,54f755c3fd2709231f9964a1430c5218,40febde16f4718a5def537786473b0be,93415,novo hamburgo,RS
47964,de4e13fd7d6469c5ada77d0843c55e42,0c17f9ac28cbd7323f0f4043e9db5907,96015,pelotas,RS
47965,8276de07ef25225d412b8462d73f8664,332cf4e83e16004ba7dca932ce82475b,90010,porto alegre,RS
47966,784c407781aa34749a388c9283782b56,eca666aec08df69fe31aa9a11d4a3302,90670,porto alegre,RS
...,...,...,...,...,...
53423,0d7da1d5507a67dbb512b53744e775e9,a5ba329297100ea689fa263768b35b8b,95020,caxias do sul,RS
53424,907abd9d16df0ca30fc8c855031da045,e7122d936e3c5028c45df3228671cda9,95670,gramado,RS
53425,6fb4f2354f36e554ac80141e9128f528,3cc6f2e1b9199837fabb35ff4bf24884,99043,passo fundo,RS
53426,be842c57a8c5a62e9585dd72f22b6338,ca186065de6e2d01cfc99763e6d62048,99150,marau,RS
53427,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS

In [20]:
# Paraná
pr_mask = clientes_db['cliente_estado'] == 'PR'
pr_data = clientes_db.loc[pr_mask, :]
pr_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
29281,5adf08e34b2e993982a47070956c5c65,1175e95fb47ddff9de6b2b06188f7e0d,81560,curitiba,PR
29282,237098a64674ae89babdc426746260fc,4390ddbb6276a66ff1736a6710205dca,82820,curitiba,PR
29283,469634941c27cd844170935a3cf60b95,ef07ba9aa5226f77264ffa5762b2280b,81750,curitiba,PR
29284,df85b96ba2ce3e49bde101b1614f52ac,8d46223c91cbeb93e0930ca8bd8ffca2,83085,sao jose dos pinhais,PR
29285,230c0d740401730c7197d16376893525,a302a693d5722d95984e6472150b9391,85808,cascavel,PR
...,...,...,...,...,...
34321,95c3787dd85f9d218c94a47d6a9fd288,54795167137a9242b5f13793c78f99aa,81020,curitiba,PR
34322,ee3dd5769faf8ff6cde4f3120f191d4f,87d97bfaa311b3e3911a709d8be1c7b9,86045,londrina,PR
34323,0b7a30ba373aeb55cf28add5b5477956,8c8173e547e020f411aa55b2fceed861,87145,paicandu,PR
34324,059f60d3b37627f51e73eec500dfa1a8,db634985638ec4b6abf8734d7adde1ab,82800,curitiba,PR
34325,b7c889215de76857c7967c1011125d2d,522e244a96d13876c5bac4985a8d5075,82410,curitiba,PR

In [21]:
# Santa Catarina
sc_mask = clientes_db['cliente_estado'] == 'SC'
sc_data = clientes_db.loc[sc_mask, :]
sc_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
53428,879864dab9bc3047522c92c82e1212b8,4c93744516667ad3b8f1fb645a3116a4,89254,jaragua do sul,SC
53429,154c4ded6991bdfa3cd249d11abf4130,e607ede0e63436308660236f5a52da5e,88034,florianopolis,SC
53430,b6368ca0f56d4632f44d58ca431487b2,dd992305cba295d997f263dbdf4e8c2e,88104,sao jose,SC
53431,4d27341acd30a36bca39008ee9bb9050,e021e698833bdeb89dfef3acb2e91f37,89254,jaragua do sul,SC
53432,443b534d0d27a8aa9a184d4869bcbe7a,4071d48a2d0d0bf179c06fc42b962e1f,89260,jaragua do sul,SC
...,...,...,...,...,...
57060,f1def85ade6e5b754d5f84a958fd48c2,8c91e8afd08b46578668f58c6f28745b,88034,florianopolis,SC
57061,36cf561d6c23f010a6944f0908ee6bdc,4c238e06836176bcacf75f445cd4876b,89500,cacador,SC
57062,61999ea0577a957d34dfa9728c1ba783,7abf56cce374378793ed6118bb4eb9d9,89770,seara,SC
57063,69f774928b3541289743181082f07ea7,215f5dec9071a9a69ce68c5abb45fe6f,88960,sombrio,SC
57064,ec126b0b2593214b75ec14893b15d9e5,78f3a4a5fd7af366fb49942756be9a1d,89300,mafra,SC

In [22]:
# Bahia
ba_mask = clientes_db['cliente_estado'] == 'BA'
ba_data = clientes_db.loc[ba_mask, :]
ba_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
710,2d5831cb2dff7cdefba62e950ae3dc7b,e9dd12dca17352644a959d9dea133935,42800,camacari,BA
711,670254dd2e886ffe621b3831afb47d7d,914b142462685e3161cf3a9f4152a028,44380,cruz das almas,BA
712,ea2196dc456ba36fe4f6b81dca4867d4,4a4de987b37555970ffcc9608d858a72,44033,feira de santana,BA
713,b6349bdae88bc7c85c4aeb0cb604dac8,b5d37c728f9ea12eae24f87212cf90fa,45320,santa ines,BA
714,4b003ee1eabaffe8ff8e6d75394a9b42,941590fb8aef66b3a8352fe7c691879e,48700,serrinha,BA
...,...,...,...,...,...
4085,1b6d9168534fafc4d2bab71ae7641bc9,4c0dc4c1650460e296cf9e51ea06c993,47850,luis eduardo magalhaes,BA
4086,495a15eb160b6c85259f568b9042ef5d,1a6518cb5f8ac63190d03072e48efcdd,40296,salvador,BA
4087,ed06079dced62dbfd744b48a2dd8e789,30918014dcdd61ccbeb79c2fd3bc8d6e,41720,salvador,BA
4088,9113d7df5ef31cbc1cea9dec01e132c1,b39a84ce277d7ca095b2072bfc2dedc0,41515,salvador,BA
4089,4951ae40c746cbd07eecef33fc053e89,e18e1db417f0bc97f9065c4aeae3f9d3,46500,macaubas,BA

In [23]:
# Distrito Federal
df_mask = clientes_db['cliente_estado'] == 'DF'
df_data = clientes_db.loc[df_mask, :]
df_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
5426,4fa19f7da692e6bf9602aaad3c372eda,a2b8841410cf77619574d311cd06fd5e,72270,brasilia,DF
5427,e50a30de3c32f9406a7185f40ce6874d,b4d6e1b900d99b52e901860bc1f44e35,71540,brasilia,DF
5428,9b7822c67a91b431e9254007b587214d,9d0ac1cdbfc919d676e2c2377abb32c1,71928,brasilia,DF
5429,8b47e5ba29a9cd9947ee6be2f025ed66,9bbfdf9f7f65b58481e1ed110a2eed46,71665,brasilia,DF
5430,d6ea00d4a2dca6a01c708931b325a9e5,1d4626b197f66aa6129c135ab09f1a7b,73020,brasilia,DF
...,...,...,...,...,...
7561,ff09fd7b29e7488a8d8a20badcd8befe,8c21dd8c37144807c601f99f2a209dfb,72587,brasilia,DF
7562,82e281923401bbece2a90eb6f90ffcc4,616277cacac20fcdaeceb8b876c80d8b,72220,brasilia,DF
7563,9cb64d5848fb5911adb3b50bacb0b051,1990af267e5300ecf794b03e463b87b2,71505,brasilia,DF
7564,4740044a9390cc45b2c213e8714129e7,08f7cf00ed9ff3e0a08fc136ec272974,71900,brasilia,DF
7565,a072679ac4ac4d56f1aaff9e763836ed,d632eddd34f00aa9d19613ba9cef6294,73060,brasilia,DF

In [24]:
# Espírito Santo
es_mask = clientes_db['cliente_estado'] == 'ES'
es_data = clientes_db.loc[es_mask, :]
es_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
7566,e0eea8f69a457b3f1fa246e44c9ebefd,4d221875624017bc47b4d1ce7314a5b7,29311,cachoeiro de itapemirim,ES
7567,7ab7a537b678b6dd73d825ff6ee7be9d,dad5018ffc0de85eb72f72575b552784,29307,cachoeiro de itapemirim,ES
7568,65c9fdf79fdf0d4b98902fbf9617c171,28da048f094c0c9cbbc5412bcf41b6b0,29395,ibatiba,ES
7569,67a28655b804d6a418964f3dd4e214bc,d10582c312d1c3a03ed8ea136273c54d,29101,vila velha,ES
7570,bb4d5187b89ea6b78cde7926727a3cd0,9164cd45afebaec2d61200f8f51fee45,29903,linhares,ES
...,...,...,...,...,...
9594,ac7e033c3e1a25cfb8b46c50134804e9,98155f54fc6b0201c86091b19e295942,29144,cariacica,ES
9595,34d1179b8485fd694eaeaf5ba3ec0664,0512ef7a58b99718b43889612e947bce,29102,vila velha,ES
9596,2f04d3db6495e1a45b6d8473469522a7,d4720687c47a65b47afddb6086b1d100,29101,vila velha,ES
9597,16113da7eb5959b1085b146216d09bca,2268a3851575e0ab1a7578c25eab79c1,29650,santa teresa,ES
9598,282fbce48e4d2077aad602dd125c9225,0ceb502fc33a2ad327b08288c5310e2e,29134,viana,ES

In [25]:
# Goiás
go_mask = clientes_db['cliente_estado'] == 'GO'
go_data = clientes_db.loc[go_mask, :]
go_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
9599,690172ab319622688d3b4df42f676898,a96d5cfa0d3181817e2b946f921ea021,74914,aparecida de goiania,GO
9600,167bd30a409e3e4127df5a9408ebd394,9c0096673baf55453a50073f12d1a37f,74310,goiania,GO
9601,aa9f03ecd3728c9bd12e6d962c66c7cb,b03e9d9818ee170e9d6b983803c7d406,75388,trindade,GO
9602,e48f50d453ada5bceb41e239a2dc2065,9d85c39a38a86ed13978803d7560c612,75570,bom jesus,GO
9603,7795e422f21ee2057de57ef0212b4d7a,53b5f3ee447865c2de22e4814ef70bbe,74825,goiania,GO
...,...,...,...,...,...
11614,7f3751bed6fa577d36ce3a74179e992a,74fb95244fc51cd2b2ba1870c8b97aa1,75084,anapolis,GO
11615,45f03f88bd8f121c974acbc79549be7c,91c85345f4a64761cab837e0157488d4,73801,formosa,GO
11616,bf9a4770691ff9b2ddb07f4beb77d4ad,95a3dcd03d8086e8510d9fe16f875ec7,76105,firminopolis,GO
11617,de10ff4100545d244951898150f9aad1,64aa56502b9ea3886fb356a259434201,73801,formosa,GO
11618,d9110683c7a282144e9fc97660026a28,5cbfdb85ec130898108b32c50d619c39,74980,aparecida de goiania,GO

In [26]:
# Pernambuco
pe_mask = clientes_db['cliente_estado'] == 'PE'
pe_data = clientes_db.loc[pe_mask, :]
pe_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
27134,b80adce6a72fc096b80a540312a24a95,8728c766c84eeda24b3e54fe6e632051,53437,paulista,PE
27135,2abea2bf3e5611f7a96f8d24f21a7198,ed62ab8aab76f4d4efc4344ba5ef3a6d,52070,recife,PE
27136,314ec9cbe156ddd9cdaa1a9bf021e00e,691d75928efd2c5dd34b678f19783c28,54430,jaboatao dos guararapes,PE
27137,09f548315be5f30a9610b83ad933aaf1,c1c2fffe3d49911803df2e157bee7aa0,55700,limoeiro,PE
27138,a9434e011c74b3cfe8649aafc303c441,637c2caca17c2bf9fe41e50a6fcec9ed,55525,cortes,PE
...,...,...,...,...,...
28781,10ee14e89676c9f43e64a67cae62823b,67172368edf401478f187d09180a1671,54735,sao lourenco da mata,PE
28782,afd73acdd42405b032d0128e5e2f271a,1dfd2a6a5da29b716d514aad237a2b09,52041,recife,PE
28783,72a06cb6380fb74e2ad5c3ec0347304b,0c257341aa7ac67855772c6d70386a7b,56306,petrolina,PE
28784,b9133ddeb2aa090e1ec0b645f1a2e9a0,01413c132b54b9b7dfadc2ee71ef78c8,55370,sao bento do una,PE
28785,0a7db3996b88954c7aa763b5dd621d5b,15637b62dfa4c5a9df846b22beef0994,52090,recife,PE

In [27]:
# Ceará
ce_mask = clientes_db['cliente_estado'] == 'CE'
ce_data = clientes_db.loc[ce_mask, :]
ce_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
4090,a905baa530258422594f1b05615bd225,c80da60feddb7cf8325bd104032e314a,60140,fortaleza,CE
4091,4c7241af24b5344cb01fe687643de4fe,b157c176c3fe04914fde33f2dc8b878a,60336,fortaleza,CE
4092,126cf4e9fd189d2d64bc9b112fd6a5e8,90d479448b39ad9586d05da64cfb695b,62016,sobral,CE
4093,3aec4688b93d6061ec5061721ad493a7,7b0cae22ae2b6cf88163a50600da4ee2,60181,fortaleza,CE
4094,522a6e7c1f1f992ac81be6abefa46294,282ebddb3e85120b1652204758fc332b,60055,fortaleza,CE
...,...,...,...,...,...
5421,18e56af97c2f24afcfaf7aa97ad2b969,d9ff7e37d7bf448abb783a6e56462d93,63765,sucesso,CE
5422,3218724bc18c442e58bd39608b0f100a,d9151698fc7193669598995a4c6f494f,62800,aracati,CE
5423,1e03a2aa5714007700c8e727849cf123,54a2d9cbeb08a11268085529cfe2524f,60440,fortaleza,CE
5424,9289d8bcd95805bc1ac27c949a99da98,ec8aaeb3869352e348097f26f4c49ee3,60864,fortaleza,CE
5425,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE

In [28]:
# Pará
pa_mask = clientes_db['cliente_estado'] == 'PA'
pa_data = clientes_db.loc[pa_mask, :]
pa_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
25623,49d0ea0986edde72da777f15456a0ee0,3e6fd6b2f0d499456a6a6820a40f2d79,68485,pacaja,PA
25624,f4b8696f625adaeef763cc9cd712c921,ef6b4c0581dbf34e6eb5e33e0094c445,66050,belem,PA
25625,a1d79dad5150f0021ad8bc433364aa4f,f1a7919983d547880b4111fd4f77c74d,66055,belem,PA
25626,b04d041da05c2704d29c6945333cd08d,627d075513dade14e0fca3b59dae6614,68371,altamira,PA
25627,a18e4956844fab232555e2bfd53eca5e,b4b26faae91bc1b8f9458d29bc3c200c,68745,castanhal,PA
...,...,...,...,...,...
26593,ded50ece6ca79604dcec2000bde70ca5,39dd5bab7e7e62b981d41365c04d78ce,66093,belem,PA
26594,5aa439f5f53153b4ba0aca0c5a39fcf6,3872dc3409c953b02afd0feda0b1d812,66053,belem,PA
26595,fcab992f275f6be6560db89992f93701,770be8981d9f2d66bc74ae7e96180caf,66083,belem,PA
26596,184e0c2cfc746789643521df0e9ff904,c64ede6d0ae8901b1b6fb03528c1b7e6,68660,sao miguel do guama,PA
26597,14308d2303a3e2bdf4939b86c46d2679,e7f8760e2bbd2f1986bebd99596c088e,66033,belem,PA

In [29]:
# Mato Grosso
mt_mask = clientes_db['cliente_estado'] == 'MT'
mt_data = clientes_db.loc[mt_mask, :]
mt_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
24716,f0bbb754a5855f669094d5049c09c548,30a7c7292c38ac22477fcb75306ac4ef,78600,barra do garcas,MT
24717,eb66863a17ee48ce53653ee4afd4af21,b49d79cdef655bb4cdf8223390c20524,78557,sinop,MT
24718,af75138c42a3bc72157eaf45b6da592f,ca87392503c5a503ff16afc9344ebbe0,78580,alta floresta,MT
24719,47c2b21c22de46f42a427db0ea223499,f054e8c1cbcf5e89ddd9b615c349936b,78325,aripuana,MT
24720,689ebb659ed83d0b534412e001e24611,272d474dde8221c368c57511d9150215,78015,cuiaba,MT
...,...,...,...,...,...
25618,e95e1273db2c542bfc5d439d377eaf2e,320df47c6bb00617802154ad5d766075,78360,campo novo do parecis,MT
25619,036f3be5c1b9e3684b52ba2954ee35ce,a5dc96c5031bfb22bcbe3a4350c323b9,78075,cuiaba,MT
25620,23c7424729eb57ba864ff773fd1d0111,70d702206149f821623272ac49636774,78652,confresa,MT
25621,9b689a53cb49a96c7ca5f1559644951c,9a127b1ea5cdf03171fe5bccfd3db28e,78048,cuiaba,MT
25622,2304a16c6f87e1596b00b5bfedf72fba,c41b29a1f1a375636331f2cec739bc34,78035,cuiaba,MT

In [30]:
# Maranhão
ma_mask = clientes_db['cliente_estado'] == 'MA'
ma_data = clientes_db.loc[ma_mask, :]
ma_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
11619,4c06b42fbf7b97ab10779cda5549cd1c,07d190f123147d9e89d4b922543d7948,65075,sao luis,MA
11620,ad6891a1937cb8723a2c08ba1ae59873,9dbb05f5577e862337b93feb8f358839,65058,sao luis,MA
11621,89056b2877a2be69b4e9c9d7ebc3ae5d,43676e9993577d1991036ea6720213de,65430,vargem grande,MA
11622,8ebee0cc741eb27e8501e4b4e3c6422d,8e990907b56d2383d3a39bf0cf9a3f42,65067,sao luis,MA
11623,decaeb61687071ee0fb5a7863b398032,0ff5b872dfd979e7d23064973ec52e5b,65054,sao luis,MA
...,...,...,...,...,...
12361,8e2abb68f8cb495763d94b8543aff049,35b58d5a4454d79f4e16dc5e1a22cac3,65072,sao luis,MA
12362,2e8e0bf9b784fb7069b6705ec26b0c87,50f0cd4b360ce6c7027e4a7055592d36,65054,sao luis,MA
12363,dd67e5970a7912e2057d2af99b15467d,6debdd7009de6875c0871f7359dab059,65903,imperatriz,MA
12364,d4912628608c865230b81b506ad14c39,bcf6b31a7938288cfd932dbe883819c9,65900,imperatriz,MA
12365,282cb5fd8f77b5adc7a04bbf77f8ae52,9414464151c017ded4b6340991c447ee,65065,sao luis,MA

In [31]:
# Mato Grosso do Sul
ms_mask = clientes_db['cliente_estado'] == 'MS'
ms_data = clientes_db.loc[ms_mask, :]
ms_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
24001,8fcaa9368903f3a9a28aeaff28c14638,3af0b2f7654f613ff1527b997a2ac57e,79804,dourados,MS
24002,9d46b89032f34a48706407829dbb55b5,8dc17b53543ee0ff19970896cfc6c750,79130,rio brilhante,MS
24003,ee7b0a64a42fd92a3144a38c4f347a9e,bd64e82a5bf0ad0166ad7c72b302bbe4,79823,dourados,MS
24004,37922a02f44c5b80004b14cb9a0becb7,4d0bd25308e9d7d0a301223f3d814f85,79904,ponta pora,MS
24005,2a5537cca47095c73bb1d6286ee2c543,c42d503ed3de454cd24b5d1508bcf5b2,79640,tres lagoas,MS
...,...,...,...,...,...
24711,6fd2c51b3eaa23c3ced2674b452e228c,a3cff19572a9d98802efdd6603792ce9,79813,dourados,MS
24712,4f6f0eca50e39790e9e7be70902d233f,c31bc96e6ca445a9f22ceabd3eca95dc,79074,campo grande,MS
24713,7c2a55810a39cd8421f6fd48f88210ac,5b1ccb22b017dc7b926bc2de7a6ae857,79420,camapua,MS
24714,5cf5337c93e16510bfc0a4c3f0e7d162,b5d121e93f04064270ba488823371a7a,79955,juti,MS
24715,f1497d68a89361282297041502917ad9,4c116f8ddec984371284ab7bc860001a,79500,paranaiba,MS

In [32]:
# Paraíba
pb_mask = clientes_db['cliente_estado'] == 'PB'
pb_data = clientes_db.loc[pb_mask, :]
pb_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
26598,f9498c1d633509de995d09aeee4f67c9,374026021639ada6e97c12b31a997a64,58407,campina grande,PB
26599,5c296f7939550b876425980a5d7da5ce,51e96af5f0314b37ecdc524b4c44c06a,58011,joao pessoa,PB
26600,647f99eb0007e6db23fa6ad97b03b1db,237d81d316c9afc1b1476200408455d8,58155,soledade,PB
26601,7bef0b4674da88edebc39071240600b4,f13d52604bb35cd3e253bee5b28a4386,58220,bananeiras,PB
26602,73464d896b5905196286e7edefa9840f,3ed5ee72812f14afefbf03c357c56684,58380,inga,PB
...,...,...,...,...,...
27129,d486c1adfb84aecbc44d77cf332b0cd1,81dd84d8f44d7aac9fa58e473583586a,58540,sume,PB
27130,79e9e3045681a5b732e05d595a74f10b,94c41896e17a558189de6da770eb229d,58036,joao pessoa,PB
27131,77c721e43535d1b1a32274302b157024,f9597fc39b81c06da320d20e25f3a2c7,58550,prata,PB
27132,3c5846b47d54a0d65ba29fa2ff9e25a1,007658319c060f337577e8a1834d5df5,58025,joao pessoa,PB
27133,ba1bedb9aa95b7bb6afb499b3ea3b3e0,1118bbd6c82a824ebc677b12e525864f,58301,santa rita,PB

In [33]:
# Piauí
pi_mask = clientes_db['cliente_estado'] == 'PI'
pi_data = clientes_db.loc[pi_mask, :]
pi_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
28786,9582b93f8a5b04336d13454b876e72ba,58e41c352b12a7e96c322dca803dc08f,64053,teresina,PI
28787,a4fa643f7d9de9a32083b61cc0c362e3,58ee10603291fb595e840bea6f400d41,64017,teresina,PI
28788,8aacc9bdd286bbd215a6b32460b797ef,f5de43d4ead76e9519babb3d6189ea5b,64020,teresina,PI
28789,f4302056f0c58570522590f8181de2c7,67b05b597a66b5c449025000b9430abb,64605,picos,PI
28790,b4fe49de4099d1696f0d7d6d00abda0f,1c0ad53bbac159e9a38bcb2ddc56afe2,64490,regeneracao,PI
...,...,...,...,...,...
29276,c6abf2a87e2907d182f39e8d77101642,6b527aa2aff22d94408e2c1bf496ce47,64046,teresina,PI
29277,b98929520ddf9ebbc2ee6d7a54bb5ba4,f3fb25aac32cb3dc255529c6dc74ddae,64017,teresina,PI
29278,f8eebb1348f680433fe47d8ed5c595b3,7f6b0883d50738296c75dba682da3a3c,64053,teresina,PI
29279,f8632d63578cbb03bf05ac11ece8b238,69265054c8f3bbe54909219e9b2e6af7,64077,teresina,PI
29280,b7fefe142962b04fa4d97b8bec20f8a1,9ef4905006f939a993f4794df18564c7,64056,teresina,PI

In [34]:
# Rio Grande do Norte
rn_mask = clientes_db['cliente_estado'] == 'RN'
rn_data = clientes_db.loc[rn_mask, :]
rn_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
47178,8392e3d4cfeec63f2a8bfea68bf1f91f,fd2d5fdb84e65fa6b54b98b0e2df5645,59655,areia branca,RN
47179,54219e2e76f6a2c60768ffad1ef081d6,3a73ce6fc3b392e1ca609b5548418c36,59063,natal,RN
47180,b54e2f0af25f6f2f1f105ef67c7f895c,4a51a701a27196367845d9299bee729e,59152,parnamirim,RN
47181,de5c5a9aa928398a097ba036b0e0b99c,c143cec5225978d71e218834a2c37920,59084,natal,RN
47182,0a3e4f7efaf1befc4a84e1adcd9b70f5,273d136f7121c493a5c994c4838fa350,59196,pedro velho,RN
...,...,...,...,...,...
47658,69b38855459d81b0595cade99bc1706e,1a13743254d9c8e6360106295947932f,59920,sao miguel,RN
47659,38c97666e962d4fea7fd6a83e69f20cd,b6108acc674ae5c99e29adc1047d1049,59650,acu,RN
47660,f9a232e21b669e5a1063711f040cd360,5565d43d43220145dcdcde6cef348434,59518,sao rafael,RN
47661,f52cd6ef242b7b7a48f5823b7dbb5758,c6f8e1db66045b7e49203b47b5ce816f,59082,natal,RN
47662,cf1ec2659f4b1f34f858a0c25e1d5d1a,592134387e7f13de6a9e38eb7d412b3d,59151,parnamirim,RN

In [35]:
# Alagoas
al_mask = clientes_db['cliente_estado'] == 'AL'
al_data = clientes_db.loc[al_mask, :]
al_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
81,0e19f44898c5554faac8f95f1473bb4b,d197a184e01ac46e6cb6596185bd4db0,57046,maceio,AL
82,efd1a20eb65041a60f9c8c74cb5fc7ba,1c22aaad9006505a301a9d51b64f4c9c,57062,maceio,AL
83,c4a111edfb69bcf3c00710ccfd23575c,c9c0c82af514e815fa47534f71113ebe,57311,arapiraca,AL
84,292d8563fc70947dd2010aa36b726cdc,cdc5b7e1bd2027fc820fab4bf76dff04,57071,maceio,AL
85,b1dc05bae2f03544e45370080331bf07,82b2b6a27479a25369741ff265a19a49,57084,maceio,AL
...,...,...,...,...,...
489,39aa3bc114b6574df1c7fee96f24199e,e6870dbb2ee0d2e688259549533bd1aa,57304,arapiraca,AL
490,3f20a07b28aa252d0502fe7f7eb030a9,43aa3086b95f386b014b1b45de46554c,57035,maceio,AL
491,c55355e7b977437c0e3bd30e169b66c2,ae3874e39dcedb5abcf8ec6c24e51bb8,57071,maceio,AL
492,d4fcb254f2c6ebf50c17180b99d046af,a12b84183bdfdda2ebc41ba135c99caf,57265,teotonio vilela,AL
493,7f57408abbbc33ddc3d6a0072e87da0a,62203293552d7c2097221962cbedc6a0,57800,uniao dos palmares,AL

In [36]:
# Sergipe
se_mask = clientes_db['cliente_estado'] == 'SE'
se_data = clientes_db.loc[se_mask, :]
se_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
57065,534525d2977800ab718182e9731f540b,df033c6cca61206b057d843131600fc0,49015,aracaju,SE
57066,3bb157ebb211d52c0dcae0a1261d49d8,f5d3f7d6508d52291134f9cd009eb354,49010,aracaju,SE
57067,2ee4de7ea23d3e955ab725ec479db518,5abaf8290581633718e3ad75f2400643,49290,itabaianinha,SE
57068,1abb0c19ec88e40555c8ee5ba6f2a102,b57bae12fea3467502bf32351c47144b,49535,sao miguel do aleixo,SE
57069,2eb158a030035c0353acf0280acc1e80,45325be297e2cbb04d9745d2b37bcf80,49035,aracaju,SE
...,...,...,...,...,...
57410,b461a1a4f01c9aabbb19369c96cbd03b,e68142d59d8b0bb613a994dd9c72d356,49160,nossa senhora do socorro,SE
57411,0c0202f6f6b9ce5a9aa8f9fa0a7580c4,6f028dec6f26ff16182703be1453bfd4,49030,aracaju,SE
57412,14e4fd056129b209f512b1070b405ccc,002043098f10ba39a4600b6c52fbfe3c,49015,aracaju,SE
57413,9a1560da89cf53aec2d573c286ba6957,ad7072317d373de9bdc9b4ed5b6c5a85,49020,aracaju,SE
57414,9b393f101c2a58389bc8c804e560b284,8b658cda92ee9a3972c756bd9069ef24,49480,simao dias,SE

In [37]:
# Tocantins
to_mask = clientes_db['cliente_estado'] == 'TO'
to_data = clientes_db.loc[to_mask, :]
to_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
99161,dfeb499afeccbe255d81f5900fb20879,88baa2a0a13e63c2e2b3ebc09595e4c8,77440,gurupi,TO
99162,3258ef1cf6b31779ee6fdf397ae6e5f6,e48c34104caa1c6ad2fbcaddabe30092,77320,taguatinga,TO
99163,3a1b9fe3e0d0d7541f37438799c97571,cbbe4b5beeea8b05dae43cfd1a73e6d9,77022,palmas,TO
99164,d3e29a43c924fd6064e10fe50ebc8925,5ad76b2e1b9830ec678ccda420872dcf,77890,ananas,TO
99165,cadcc766f52c62f7f08bbfb5712bc3ec,181d08e7dcfdac616bf321a7ca3ad0ca,77478,sandolandia,TO
...,...,...,...,...,...
99436,23e9c4157d6c105f4f1b5581129d54b0,1f4b29fb78faa282b122b491ce721aaa,77725,colmeia,TO
99437,0cf035c6dba87ba8ca506f64719663dd,721406d1edfabad2de3f86155356d8e0,77305,conceicao do tocantins,TO
99438,7dcd626576af9555424051dbdb01cb5a,7c0b4f7719caf8b29a4c8dbd5a1446c9,77370,natividade,TO
99439,be961156244f41bb0728342afdc122e2,fa0d24dd602c76038e9c0614d1620cec,77490,cristalandia,TO
99440,f83083fcbc51d12f8279b5713c2d4b4d,0465f164e35aba70f70e911b252513a9,77807,araguaina,TO

In [38]:
# Rondônia
ro_mask = clientes_db['cliente_estado'] == 'RO'
ro_data = clientes_db.loc[ro_mask, :]
ro_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
47663,4308615296cf4ca17defd8b0d59287d8,a99021699fda65c2b84a3fb596a4c32b,76974,espigao do oeste,RO
47664,add018da2166a6af8cb006fc6d79a819,3c631f7224998f22c0fa884a2e04e39c,76875,ariquemes,RO
47665,e335e7e1fffa9b705d3453abb49890a7,8d11f32a56d967b7e09d3a5ed6cf9991,76873,ariquemes,RO
47666,71ad48df61327d880c5d6fbdbc971996,8a380989acfc7a95c26c4d8ed8f13b52,76935,sao francisco do guapore,RO
47667,533d844e0a43ffa5f3b7d6dbe40ebbc5,a1076ad45e2928facb47a0fa1a5ae915,76850,guajara-mirim,RO
...,...,...,...,...,...
47911,294224ab77ae8aaa31754ec26833ad8e,44a269be45a77a86a2bc02877a8007e2,76801,porto velho,RO
47912,7a22cc2284c8c071bb159fb99289c831,fb8bc250f9f12a9121282d4b0d59485b,76811,porto velho,RO
47913,7b3e9422b4c8dcb4f68ce2a0227a1959,40a8eb09f689cfb16640682009d7403b,76811,porto velho,RO
47914,99e39303c6136e74340a46d9b858b3de,7132bbc9136b84e879ba3d5b3df45d0a,76804,porto velho,RO
47915,b3194c3f6631231daa204fb5c759c53f,620b7e6275faee4da2d637e42dc30aaa,76980,vilhena,RO

In [39]:
# Amazonas
am_mask = clientes_db['cliente_estado'] == 'AM'
am_data = clientes_db.loc[am_mask, :]
am_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
494,49af8d1256e91058af5b255f4fbc0e6d,7cc3f51930537216ff70ecdc8f506a37,69049,manaus,AM
495,00e200fe66bc8553bd83681887d6176f,fc5e5fe0a1c88aebef8f551bc84abd9c,69020,manaus,AM
496,3fcc0ad6fc4d2cb5b8ab39309e1ac335,4bac35931842898ef246fe185e61f7b3,69180,urucurituba,AM
497,404e67122d00aaf4e82413c0355aca9d,eef70e28876f73d3076a39e54b764c8a,69098,manaus,AM
498,75356ef942799219979533e3b50950de,f50b0ade21665c5b41d8d1db10ef9932,69025,manaus,AM
...,...,...,...,...,...
637,512ab098fa4d12ef6885a8ccedc02eaf,fa9e894ac0b2378ba83156e9281caacc,69021,manaus,AM
638,c877712189c91e02b31a34e37974ebd7,33659970091922188dcdb8cdcf47ffe7,69029,manaus,AM
639,a380a86d2b46332db9750f4d27e2e44b,1cfcda54cd798f92b3de0b0308b6c4be,69099,manaus,AM
640,1495c7e441ebb6a484fd2c4859c02850,afcde4ad41477fa81f6f88dae6734ef6,69044,manaus,AM
641,818c378ba7cd2f369e62b855795e8392,b2969db5acdbf95765a2bbdc2699e30f,69010,manaus,AM

In [40]:
# Acre
ac_mask = clientes_db['cliente_estado'] == 'AC'
ac_data = clientes_db.loc[ac_mask, :]
ac_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
0,94906d652f7d1c9e4c4af604ede7784b,544d0f13064dc42b8f6957cf43fa5cad,69918,rio branco,AC
1,ca077dd95290191565abb393a580bbfc,70f326d437e44cf69da00c9169b74fb3,69911,rio branco,AC
2,5a5f70fead43dc16ec4d5afed5281239,b1cf91f7efd99001549d2eafa05c66c1,69918,rio branco,AC
3,c5de7db594b246f428940ced283125bd,8c792a4fb7f5d708257abf55fa899ce8,69918,rio branco,AC
4,16aba5570b45f6b4c9204407132e2cae,5f8f12098427d3cbb37e9dcf269bb53c,69918,rio branco,AC
...,...,...,...,...,...
76,929cb7b1618f0d99c7814d79b0c5b7cc,3cd07f2cd0e3bd52f3896c0048fb37c7,69900,rio branco,AC
77,013bdb994a9c8f09fde3f5f543e698ad,ba425b1bf6cab11cc601255a30cd3bdd,69950,manoel urbano,AC
78,3298a35f24f353765e2570b3648550f4,d7f374aa64da050d8e7bb9332128a1e8,69930,xapuri,AC
79,3b84c81b13c1c7278b099793e720998f,8d6512fa0e1c5cdbd789b956de79fe2f,69915,rio branco,AC
80,0f32385df13e46d88d997460208bc866,4f67110f6d6d1241111167b141bfa780,69900,rio branco,AC

In [41]:
# Amapá
ap_mask = clientes_db['cliente_estado'] == 'AP'
ap_data = clientes_db.loc[ap_mask, :]
ap_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
642,411373e81bbd24b0356ca1274e9c03fe,c555d42202667b1e09e50e7667b6a663,68908,macapa,AP
643,63f9f01b26b742afbd95beb988883c52,980fb8fce0743aca3ddaaa6a1015638b,68909,macapa,AP
644,ce6b160f2d93188fdd18287c6f4d2aaf,52ca2c3eb36adc5992314aa32aa16be7,68925,santana,AP
645,e71bc052424770177302796c5867257a,959516ad250b4c7978d15055cb9789e3,68904,macapa,AP
646,9e0773fb262bb0872dddbb606ccf3fb7,49a19cc71af5703aa8e8bc87349e4c40,68908,macapa,AP
...,...,...,...,...,...
705,ddfe6fa346e2662d9327d02b663e7a98,9b40df00b55151680dd60cf0a1c7ff51,68902,macapa,AP
706,a2e02f003a155f5ca89a4fd48cfe2068,37f189dbcb4d9c62cf25ffc3e16c5bc0,68908,macapa,AP
707,c1c43a59da4d71581ded4e06a39bb37c,d55b1d8c88528efb311e84d850c4914e,68903,macapa,AP
708,24c62f7eb78d839d81364907596e4e94,428a69fe9714859c412bfd68251b822c,68903,macapa,AP
709,7ca37e6a93a56f66b7752682d60ba176,59f65444dd66028dcc0cf4d88bef9a07,68900,macapa,AP

In [42]:
# Roraima
rr_mask = clientes_db['cliente_estado'] == 'RR'
rr_data = clientes_db.loc[rr_mask, :]
rr_data

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
47916,56a4d10644e5aa0b23861f9e90f37a8d,7d0983269f825d3112e5a64364b1258a,69303,boa vista,RR
47917,b3927569e0d789c9d5239fbdbaaed7ad,4df43d4c7d3a093a519dbfe0b9dcc0d6,69307,boa vista,RR
47918,bd5dca788b04c05cb9f4aa5101a163bc,c57c7c35bd28be99523d58d38796df9d,69305,boa vista,RR
47919,c5f01802e14689fa043dd02e57ee0477,093afe7cac6e0472bc762f850cfac378,69317,boa vista,RR
47920,275796c941809c8006511c809600dfab,61f7b3e7a4d47f1c7281d4c2eb208975,69312,boa vista,RR
47921,ecc00bf7d2998377dad8e970fcf7beaf,4f33194ab5bc0ff58322acc740c36798,69317,boa vista,RR
47922,15fb2f7d74eb50bf9a225a12250a54ae,7d0983269f825d3112e5a64364b1258a,69303,boa vista,RR
47923,c48d4e4180ccba3ea9e4acd586387e00,0c04b066b1b4469c7895a82916f8d6b5,69301,boa vista,RR
47924,1856438e1615630ccc65ed9a11394213,3ab195a29a2b0e131d57df59024d6d50,69309,boa vista,RR
47925,8e46c55f2293dfb57e5e70080db74fe9,88be01ad5852aae1b5d5231e2f415475,69314,boa vista,RR
47926,94c1a60de2eed5c304c731a6ec674387,013f66477aa3210eb05fec3fa184de33,69307,boa vista,RR
47927,b23f056c8604016df9fefaa92128ab42,660faf14e9201af9e1c4f65968010944,69313,boa vista,RR
47928,d398cd26a14e81d6a1b88c42b089a39f,e6b2ebebab1d04ea3fe75e9ef4f8f433,69301,boa vista,RR
47929,761df82feda9778854c6dafdaeb567e4,1428917cd397d4f9ac0fde76dd6f2266,69317,boa vista,RR
47930,8e2f6ac5748f3612e7b6662b99f7a7c3,41d0610f2aeb9f45e800054e2641f4f1,69306,boa vista,RR
47931,524987dbd2ce54fb339152d74a265232,d5349a131964fd10f901296bd4219e47,69305,boa vista,RR
47932,0e068d477b784dc327ce26836411eb00,8d386257586276430b56d546569ae1a1,69301,boa vista,RR
47933,5621efcb03b89c9a3a23e0d9c9f56360,9159694dbab5bdd0d09c1706d992751d,69306,boa vista,RR
47934,e83f91be888c7639e7199ea309040d35,63e2ddffbebc468591b9f44db1775cc1,69309,boa vista,RR
47935,66637c0e4a801a4cd3ba72818e7b5b11,35667b792f144ffbcb90d64c5abf26a7,69305,boa vista,RR
47936,cd6042c2aa18ffe499a2bd2bbadc0c41,7a4e77ecd194e8434a2ea3e1fa061bbe,69312,boa vista,RR
47937,6dd615ab569bc60cb1cc7b468c11208d,1a23b051d310249a09fc86310b84ea21,69301,boa vista,RR
47938,c0e2c21e84f18fe6c06cd6bf960cb016,5bff7e6ba295452d98a709c9bef2bf45,69303,boa vista,RR
47939,5c42637f3e7e7c520282ae5c4faab832,9b1c9c3315e0c6f2ceb5da19d67f1baa,69308,boa vista,RR
47940,784210ee365c635556aeb69e14e072fc,8fedeab003cb5fbd2bb599ccb940c49d,69309,boa vista,RR
47941,ac45d9f7d22771f974f9f713285cf06e,a37b2223032f618b3cb1fb9ed7a8ff33,69301,boa vista,RR
47942,6236a1fd73ab92114378e88fe16698ea,08e37284d5bd2834be3c71035e3d64a3,69314,boa vista,RR
47943,94a772ab3fa8a2dc3a13504c8ab8d868,1cc138a7bd7995f6d84360b1a305f58a,69309,boa vista,RR
47944,0d161cbc6e76ebb664969c45a8ef1862,dec89c5c369cecbc707083a24f1246f6,69305,boa vista,RR
47945,0f23c6bff75a40bdcb20ec9086522179,44892aa259e05c1471419f1affc1707c,69314,boa vista,RR
47946,84874c595637bb7aea0323c01a7e9c92,cced18dc0d1f0d8b16f75f5b5ec3e2fe,69304,boa vista,RR
47947,b408e86f1975f2dd2cd34506f0b33329,1ee5b0e26a2fbd9a4c52d1137e55ff9d,69380,bonfim,RR
47948,3966c9281e8635cdcd8a77df973b7b35,2a58a820ec648f845d0d7315f3a3ec7b,69301,boa vista,RR
47949,99951d171be681b7a878c49cf72a32be,e3c9510da0abf05a45f8d8ffa126c716,69306,boa vista,RR
47950,8bca3a85b44a76353af3b18cffb13b2b,e375ec312dc8f13ae8424527ca2397d8,69312,boa vista,RR
47951,f141fbe08704cd463fd586a9d746b71a,5df0c87636ac65c60a7e0e17964a5072,69314,boa vista,RR
47952,e6f7cbd1504efea2bf999b2fa1cb8679,8d2fa65d968da66afc05f2e28250c9dc,69307,boa vista,RR
47953,63e7a08af483dc834e72063957f82e52,7d3641e1a17c8331e758e3cf3eea199d,69307,boa vista,RR
47954,05ad4097a892d5d8163107dd0bc3ca2d,a7dde49a1e77e409fae17b945a82e2b6,69316,boa vista,RR
47955,08c5351a6aca1c1589a38f244edeee9d,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR
47956,494fb0bd072cd8ccf901962d207864a8,2d006f3f447dba0133fac880d10c8978,69303,boa vista,RR
47957,40e7cb5ddc9d4a4b176615df6ec20877,f48841d7d5532186af64171b32e23531,69303,boa vista,RR
47958,351c4091b6f035cbc49b25c86db368fc,fc6edb96180128815a10afb2297bf552,69313,boa vista,RR
47959,f82d62c40f8aa96a0539ff63897cbdd5,2be29c188d2c5552046469c6c7e03061,69311,boa vista,RR
47960,abc04b2e7196b64e40603beb7d4d392e,15b2459300f0b85b233d798c23552cee,69301,boa vista,RR
47961,cf715977596afedab14869cb8d11d9e1,858ec48dbaddd52e729e8acdc8d2d108,69313,boa vista,RR

# Quarta parte
### Fazer o preprocessamento de dados
___

# Quinta parte
### Fazer análises estatísticas com auxílios gráficos
___

# Sexta parte
### Preparar o ambiente para o machine learning
___

# Sétima parte
### Testar o machine learning
___

# Oitava parte
### Fazer uma nova análise estatística com auxílios gráficos
___

# Nona parte
### Preparar o Dashboard em PowerBI
___