# Insper Jr Challenge 2022 - Análise de dados (01/06)
## Equipe:
- Rafael Pascarelli Niccheri
- Vinícius Matheus Morales
___
### Objetivo:
Desenvolver uma análise completa dos dados da empresa e preparar um Dashboard em PowerBI para a visualização dos dados e dos resultados obtidos. Toda a etapa de Coleta, Tratamento, Análise e Visualização dos Dados devem estar claras. A entrega será feita via GitHub ou GoogleDrive, com a postagem do Dashboard pelo PowerBI
___
#### Obs.:
- A estratégia pode mudar de um commit para outro, caso a equipe julgue necessário
- A organização desse arquivo pode mudar de um commit para outro, caso a equipe julgue necessário
- Metodologias ágeis de desenvolvimento estão sendo utilizadas para uma melhor eficiência
___

# Primeira parte
### Importar as bibliotecas padrões e necessárias
___

In [1]:
# Imports principais
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time, datetime, os, sys

In [2]:
print(f'Estamos trabalhando na pasta\n{os.getcwd()}')

Estamos trabalhando na pasta
C:\Users\viniz\OneDrive\Área de Trabalho\Insper Jr Challenge

# Segunda parte
### Ler e armazenar cada db em uma variável
___

In [3]:
# Lendo cada base de dados
clientes_db = pd.read_excel('Base de Dados/clientes.xlsx')
clientes_db

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
0,94906d652f7d1c9e4c4af604ede7784b,544d0f13064dc42b8f6957cf43fa5cad,69918,rio branco,AC
1,ca077dd95290191565abb393a580bbfc,70f326d437e44cf69da00c9169b74fb3,69911,rio branco,AC
2,5a5f70fead43dc16ec4d5afed5281239,b1cf91f7efd99001549d2eafa05c66c1,69918,rio branco,AC
3,c5de7db594b246f428940ced283125bd,8c792a4fb7f5d708257abf55fa899ce8,69918,rio branco,AC
4,16aba5570b45f6b4c9204407132e2cae,5f8f12098427d3cbb37e9dcf269bb53c,69918,rio branco,AC
...,...,...,...,...,...
99436,23e9c4157d6c105f4f1b5581129d54b0,1f4b29fb78faa282b122b491ce721aaa,77725,colmeia,TO
99437,0cf035c6dba87ba8ca506f64719663dd,721406d1edfabad2de3f86155356d8e0,77305,conceicao do tocantins,TO
99438,7dcd626576af9555424051dbdb01cb5a,7c0b4f7719caf8b29a4c8dbd5a1446c9,77370,natividade,TO
99439,be961156244f41bb0728342afdc122e2,fa0d24dd602c76038e9c0614d1620cec,77490,cristalandia,TO
99440,f83083fcbc51d12f8279b5713c2d4b4d,0465f164e35aba70f70e911b252513a9,77807,araguaina,TO

In [4]:
geoloc_db = pd.read_excel('Base de Dados/geolocalizacao.xlsx')
geoloc_db

,geolocalizacao_CEP,geolocalizacao_latitude,geolocalizacao_longitude,geolocalizacao_cidade,geolocalizacao_estado
0,4011,-2.357871e+15,-46645778615462800,sao paulo,AC
1,21550,-2.285786e+15,-4335261269040330,rio de janeiro,AC
2,23056,-2.291916e+16,-4361109694482950,rio de janeiro,AC
3,69940,-9.065928e+15,-686649727914067,sena madureira,AC
4,69918,-9.926145e+15,-6783511725,rio branco,AC
...,...,...,...,...,...
1000158,77930,-5.612270e+15,-47760961803462400,axixa do tocantins,TO
1000159,77940,-5.602813e+15,-4764205371554430,sitio novo do tocantins,TO
1000160,77900,-6.330177e+15,-4741979250983400,tocantinopolis,TO
1000161,77993,-5.370596e+15,-48541005808804600,esperantina,TO
1000162,88058,-2.745067e+16,-4840169285789710,florian&oacute,NaN

In [5]:
itens_db = pd.read_excel('Base de Dados/itens.xlsx')
itens_db

,pedido_id,numero_de_itens,produto_id,vendedor_id,data_entrega_limite,preco,preco_frete
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:00,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:00,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:00,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:00,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:00,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:00,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:00,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:00,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:00,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:00,43.00,12.79

In [6]:
pagamento_db = pd.read_excel('Base de Dados/pagamento.xlsx')
pagamento_db

,pedido_id,numero_metodo_pagamentos,metodo_pagamento,numero_parcelas,valor_pagamento
0,00048cc3ae777c65dbb7d2a0634bc1ea,1,boleto,1,34.59
1,0008288aa423d2a3f00fcb17cd7d8719,1,boleto,1,126.54
2,0009792311464db532ff765bf7b182ae,1,boleto,1,127.55
3,000c3e6612759851cc3cbb4b83257986,1,boleto,1,112.71
4,0010dedd556712d7bb69a19cb7bbd37a,1,boleto,1,111.12
...,...,...,...,...,...
103881,ff978de32e717acd3b5abe1fb069d2b6,2,voucher,1,10.80
103882,ff978de32e717acd3b5abe1fb069d2b6,3,voucher,1,0.66
103883,ff978de32e717acd3b5abe1fb069d2b6,1,voucher,1,30.00
103884,ffa1dd97810de91a03abd7bd76d2fed1,2,voucher,1,418.73
103885,ffa39020fe7c8a3e907320e1bec4b985,2,voucher,1,64.01

In [7]:
pedidos_db = pd.read_excel('Base de Dados/pedidos.xlsx')
pedidos_db

,pedido_id,cliente_id,pedido_status,pedido_data_compra,pedido_data_aprovado,pedido_data_entregue_transportadora,pedido_data_entrega_cliente,pedido_data_estimada_entrega
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,entregue,2017-10-02 10:56:00,2017-10-02 11:07:00,2017-10-04 19:55:00,2017-10-10 21:25:00,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,entregue,2018-07-24 20:41:00,2018-07-26 03:24:00,2018-07-26 14:31:00,2018-08-07 15:27:00,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,entregue,2018-08-08 08:38:00,2018-08-08 08:55:00,2018-08-08 13:50:00,2018-08-17 18:06:00,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,entregue,2017-11-18 19:28:00,2017-11-18 19:45:00,2017-11-22 13:39:00,2017-12-02 00:28:00,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,entregue,2018-02-13 21:18:00,2018-02-13 22:20:00,2018-02-14 19:46:00,2018-02-16 18:17:00,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,entregue,2017-03-09 09:54:00,2017-03-09 09:54:00,2017-03-10 11:18:00,2017-03-17 15:08:00,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,entregue,2018-02-06 12:58:00,2018-02-06 13:10:00,2018-02-07 23:22:00,2018-02-28 17:37:00,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,entregue,2017-08-27 14:46:00,2017-08-27 15:04:00,2017-08-28 20:52:00,2017-09-21 11:24:00,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,entregue,2018-01-08 21:28:00,2018-01-08 21:36:00,2018-01-12 15:35:00,2018-01-25 23:32:00,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,entregue,2018-03-08 20:57:00,2018-03-09 11:20:00,2018-03-09 22:11:00,2018-03-16 13:08:00,2018-04-03

In [8]:
produtos_db = pd.read_excel('Base de Dados/produtos.xlsx')
produtos_db

,produto_id,produto_categoria,produto_comprimento_nome,produto_comprimento_descricao,produto_quantidade_fotos,produto_peso_g,produto_largura_cm,produto_altura_cm,produto_comprimento_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

In [9]:
reviews_db = pd.read_excel('Base de Dados/reviews.xlsx')
reviews_db

,review_id,pedido_id,review_score,review_titulo,review_comentario,review_criado_em,review_respondido_em
0,15197aa66ff4d0650b5434f1b46cda19,b18dcdf73be66366873cd26c5724d1dc,1,NaN,NaN,2018-04-13 00:00:00,2018-04-16 00:39:00
1,373cbeecea8286a2b66c97b1b157ec46,583174fbe37d3d5f0d6661be3aad1786,1,NÃ£o chegou meu produto,PÃ©ssimo,2018-08-15 00:00:00,2018-08-15 04:10:00
2,2c5e27fc178bde7ac173c9c62c31b070,0ce9a24111d850192a933fcaab6fbad3,1,NaN,NÃ£o gostei ! Comprei gato por lebre,2017-12-13 00:00:00,2017-12-16 07:14:00
3,58044bca115705a48fe0e00a21390c54,68e55ca79d04a79f20d4bfc0146f4b66,1,NaN,Sempre compro pela Internet e a entrega ocorre...,2018-04-08 00:00:00,2018-04-09 12:22:00
4,9fd59cd04b42f600df9f25e54082a8d1,3c314f50bc654f3c4e317b055681dff9,1,NaN,Nada de chegar o meu pedido.,2017-04-21 00:00:00,2017-04-23 05:37:00
...,...,...,...,...,...,...,...
104252,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rÃ¡pida. Supe...",2018-03-22 00:00:00,2018-03-23 09:10:00
104253,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:00
104254,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,NaN,NaT
104255,"Estou decepcionado! Fico no aguardo!""",2017-12-15 00:00:00,2017-12-16 01:29:00,NaN,NaN,NaN,NaT
104256,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:00

In [10]:
vendedores_db = pd.read_excel('Base de Dados/clientes.xlsx')
vendedores_db

,cliente_id,cliente_id_unico,cliente_CEP,cliente_cidade,cliente_estado
0,94906d652f7d1c9e4c4af604ede7784b,544d0f13064dc42b8f6957cf43fa5cad,69918,rio branco,AC
1,ca077dd95290191565abb393a580bbfc,70f326d437e44cf69da00c9169b74fb3,69911,rio branco,AC
2,5a5f70fead43dc16ec4d5afed5281239,b1cf91f7efd99001549d2eafa05c66c1,69918,rio branco,AC
3,c5de7db594b246f428940ced283125bd,8c792a4fb7f5d708257abf55fa899ce8,69918,rio branco,AC
4,16aba5570b45f6b4c9204407132e2cae,5f8f12098427d3cbb37e9dcf269bb53c,69918,rio branco,AC
...,...,...,...,...,...
99436,23e9c4157d6c105f4f1b5581129d54b0,1f4b29fb78faa282b122b491ce721aaa,77725,colmeia,TO
99437,0cf035c6dba87ba8ca506f64719663dd,721406d1edfabad2de3f86155356d8e0,77305,conceicao do tocantins,TO
99438,7dcd626576af9555424051dbdb01cb5a,7c0b4f7719caf8b29a4c8dbd5a1446c9,77370,natividade,TO
99439,be961156244f41bb0728342afdc122e2,fa0d24dd602c76038e9c0614d1620cec,77490,cristalandia,TO
99440,f83083fcbc51d12f8279b5713c2d4b4d,0465f164e35aba70f70e911b252513a9,77807,araguaina,TO

# Terceira parte
### Fazer uma análise superficial dos dados (ordenações, filtros, etc)
___

In [ ]:
# Entendendo clientes_db
clientes_db.filter_by

# Quarta parte
### Fazer o preprocessamento de dados
___

# Quinta parte
### Fazer análises estatísticas com auxílios gráficos
___

# Sexta parte
### Preparar o ambiente para o machine learning
___

# Sétima parte
### Testar o machine learning
___

# Oitava parte
### Fazer uma nova análise estatística com auxílios gráficos
___

# Nona parte
### Preparar o Dashboard em PowerBI
___